@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');

body {
  margin: 0;
  background: #07412a;
  font-family: 'Noto Sans Mono', monospace;
}
header {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0 solid red;
  transition: .2s;
  overflow: hidden;
}
.logo {
  line-height: 40px;
  transition: inherit;
  font-size: 200%;
}
.task {
  transition: inherit;
  font-size: 200%;
}
/* fixed msg section start */

#todo {
  background: white;
  border-radius: 8px;
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 10;
}

#msg {
  flex-grow: 1;
  border: 0;
  color: black;
  padding: 0 4px;
  font-size: 18px;
  overflow: hidden;
}

.right-content {
  display: flex;
  align-self: flex-end;
}

#msg:focus,
#time:focus {
  outline: 0;
}

#time {
  background: transparent;
  width: 85px;
  color: red;
  height: 45px;
  border: 0;
  font-size: 20px;
  border-radius: 0;
  box-sizing: border-box;
  border-left: 2px solid red;
  flex-shrink: 0;
}

#button {
  background-color: red;
  color: white;
  border-radius: 0 8px 8px 0;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  font-size: 30px;
  width: 50px; 
  height: 45px;
  box-sizing: border-box;
  flex-shrink: 0;
}


/* fixed msg section end*/ 
#list {
  background-color: green;
  position: relative;
  border-radius: 8px;
  width: 80%;
  transform: scaleY(0);
  display: flex;
  align-items: center;
  margin: 5px auto 0;
  padding: 6px 10px;
  transition: .2s;
  box-sizing: border-box;
  z-index: 3;
}
.text {
  line-height: 30px;
  color: white;
  padding: 0 5px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.date, .done, delete {
  margin-left: auto;
  margin-right: 5px;
}
.date {
  background: rgba(255,255,255,.3);
  color: white;
  border-radius: 8px;
  line-height: 30px;
  padding: 0 5px;
}
.done, .delete, .rem {
  color: white;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.done {
  background: blue;
}
.delete {
  background: red;
}
.rem {
  background-color: red;
  margin-left: 13px;
  float: right;
}
.notice {
  position: absolute;
  width: 80%;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  color: white;
  transition: .1s;
  z-index: 99;
}

.angle {
  padding: 5px 5px 5px 8px;
  box-sizing: border-box;
  background: #6c757b;
  min-height: 40px;
  color: white;
  border-radius: 5px;
  text-align: justify;
  box-shadow: 2px 2px 2px #ffc107, -2px -2px 2px #ffc107, -2px 2px 2px #ffc107, 2px -2px 2px #ffc107;
  margin-bottom: 10px;
}

.float-text {
  line-height: 0px;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffc107;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -15px;
}
@keyframes expandTask {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes removeTask {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
